# Kärnan
streamlit
pandas
python-dotenv
bcrypt==5.0.0
huggingface-hub
torch
transformers
sentence-transformers

# RAG & AI
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-google-genai
chromadb

# PDF-hantering & Verktyg
streamlit-pdf-viewer
pdfplumber
pypdfium2
openpyxl
tqdm
python-docx
pdf2image
pytesseract
